<h1> This is the secret page! </h1>
<h4>This is the secret...</h4>
<p>"The dark is generous and it is patient and it always wins – but in the heart of its strength lies its weakness: one lone candle is enough to hold it back.</br>Love is more than a candle.</br>Love can ignite the stars."</p>
<li><a href="/logout">Logout</a></li>