.thumbnail img{
    width:100%;
}

.thumbnail {
    padding: 0;
}
.thumbnail.show-thumbnail{
    margin-top:10px;
}

.thumbnail .caption-full {
    padding:9px;
}

.delete-form{
    display:inline;
}

/* Google Maps */
#map{
    height:400px;
    width:100%;
    margin-bottom:10px;
}

.row{
    overflow: hidden; 
}


.negative{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media (min-width:768px){
    .thumbnail.thumbnail-index img{
    height:200px;
    width:100%;
    }
}

.user-form{
    width: 30%; 
    margin: 25px auto;
}

.search-bar{
    width:210px;
    height:35px;
}

